/vendor
*.lock
/build
*.lock
*.lock
*.lock
package-lock.json
/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
*.cache
.git-blame-ignore-revs
.git-rewrite

.git-blame-ignore-revs
*.phar
.php-cs-fixer.cache
*.phar
*.cache
.git-blame-ignore-revs
package-lock.json
.php-cs-fixer.cache
package-lock.json
.git-rewrite/
.php-cs-fixer.cache
node_modules
.git-blame-ignore-revs
.git-blame-ignore-revs
node_modules
vendor
build/
vendor/
build/
node_modules
docs/cache/
cache/
.git-blame-ignore-revs
.php-cs-fixer.cache
node_modules/
*:Zone.Identifier
